name: Auto Winget Packager

on:
  schedule:
    - cron: "0 */6 * * *"
  workflow_dispatch:

jobs:
  auto-update:
    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install Dependencies
        run: pip install pyyaml requests

      - name: Run Manifest Generator
        run: python scripts/generate_manifest.py

      - name: Commit changes
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"
          git add .
          git commit -m "Auto update manifests" || echo "No changes"
          git push
